.blog-list--row {
    display: flex;
    max-width: 90rem;
    /* align-items: baseline; */
    gap: 2rem;
    padding: 1rem 0;
    overflow: hidden;
 
}

.blog-list--info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-left: 2px dashed #4b5563;
    padding: 0 1.5rem;
}

.blog-list__title {
    font-family: 'yekan', sans-serif;
    font-size: 2.5rem;
    line-height: 1.6;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.blog-list__dis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2;
    -webkit-box-orient: vertical;
    font-size: 1.3rem;
}

.blog-list--action {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.blog-list--date {
    font-size: 1.6rem;
    color: #d1d5db;
}

.btn-flex {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.blog-list--btn-action {
    display: flex;

    gap: 1rem;
    width: max-content;
    overflow: hidden;
}

.btn-edit {
    background-color: #f59e0b;
    border: 1px solid #f59e0b;
    transition: all .3s;
}

.btn-edit:hover {
    background-color: transparent;
    color: #f59e0b;
}

.btn-edit p {
    font-size: 1.4rem;
}

.btn-remove {}

.btn-remove:hover {
    background-color: #ef4444;
    color: #fff;
}

.btn-remove p {
    font-size: 1.4rem;
}

.blog-list--tab {

    margin-bottom: 3rem;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #475569;
    gap: 1rem;

}

.blog-list__tab {
    color: #d1d5db;
    padding: 1.5rem 3rem;
    border-radius: 1.2rem;
    transition: all .3s;
    cursor: pointer;
}

.blog-list__tab:hover {
    background-color: rgba(51, 65, 85, 0.5);
}

.blog-list__tab.active {
    background-color: #334155;
    color: #a5b4fc;
    outline: 2px solid #334155;
    outline-offset: 2px;

}

.blog-list__tab.active:hover {
    background-color: rgba(51, 65, 85, 1);
}

.active-container {
    display: block;
}

.diactive-container {
    display: none;
}


@media (prefers-color-scheme: light) {
    .blog-list--tab{
        border-color: #f3f4f6;
    }
    .btn-edit{
        color: #fff;
    }
    .blog-list--info{
        border-color: #e5e7eb;
    }
    .blog-list__title{
        color:#475569 ;
    }
    .blog-list__dis {
        color: #4b5563;
    }
    .blog-list--date{
        color: #6b7280;
    }
}