.title{
    font-size: 1.9rem;
    width: 100%;
    display: block;
}
.content__input{
  all: unset;
  height: auto;
  font: inherit;
  padding: .6rem .3rem;
  

}
.paragraph {
    display: inline-block;
 font-size: 1.5rem;
 width: 95%;
 /* resize: vertical; */

 overflow: hidden;
 line-height:1.8;
 
}

.link {
 font-size: 1.4rem;
 text-decoration: underline;
 color: aqua;
}
