.search-dialog {
    width: 100%;

    position: relative;
    z-index: 400;
    overflow: hidden;
    transition: all .3s ease-in;
    padding:0.3rem 2rem;
    background-color: #374151;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    height: 0;
   
}

.search-dialog--box {

    width: 100%;
    border-top: 1px solid blue;
    padding:2rem;
   
}

.search-dialog--hidden {
    height: 60rem;
    overflow-y: scroll;
}