.search-dialog {
    width: 100%;

    position: absolute;
    top: 5rem;
    /* left: 0; */
    right: 1rem;


    z-index: 12;
    overflow: hidden;
    transition: all .1s ease-in;
    padding: 0 2rem;
    background-color: var(--bg-dark-tertiary);
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    height: 100%;
    flex-grow: 0;
    opacity: 0;


}

.search-dialog--box {

    width: 100%;

    padding: 2rem;
    background-color: var(--bg-dark-tertiary);


}

.search-dialog--hidden {
    flex-grow: 1;
    min-height: 12rem;
    height: max-content;
    opacity: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: var(--bg-dark-tertiary);


}

.search-dialog--hidden::-webkit-scrollbar {
    display: none;
}

.oval-loader {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    width: 100%;
    justify-content: center;
    align-items: self-end;
    height: 6rem;
    z-index: 400;
}