.search-dialog {
    width: 100%;

    position: absolute;
    top: 5rem;
    /* left: 0; */
    right: 1rem;
 

    z-index: 4;
    overflow: hidden;
    transition: all .1s ease-in;
    padding: 0 2rem;
    background-color: #374151;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    height: 100%;
    flex-grow: 0;
    opacity: 0;


}

.search-dialog--box {

    width: 100%;

    padding: 2rem;
    background-color: #374151;
  

}

.search-dialog--hidden {
    flex-grow: 1;
    height: 35rem;
    opacity: 1;
    overflow-y: scroll;
    scrollbar-width: none;
}

.search-dialog--hidden::-webkit-scrollbar {
    display: none;
}