.profile-login {
  position: relative;

}

.profile-login .btn-profile {
  height: 100%;
}

.profile, .btn-profile {

  text-decoration: none;
  color: var(--color-secondry-light);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: .8rem 2.1rem;
  border-radius: .7rem;
  border: 1px solid var(--bg-dark-tertiary);
  background-color: var(--bg-dark-tertiary);
  transition: all .3s;

}

.profile:hover {
  background-color: var(--bg-dark-hover);
}

.btn-profile {
  gap: .5rem;
  padding: .8rem .7rem;
}

.btn-profile:hover {

  background-color: #6366f1;
}

.profile__txt {
  display: none;
}

@media screen and (min-width:720px) {
  .profile-txt {
    display: flex;
  }

  .btn-profile {
    padding: .8rem 1.2rem;

  }
}

