.title {

  width: 100% !important;
  display: block;
  font-weight: bold;

}

.title.h1 {
  font-size: 3.2rem;
}

.title.h2 {
  font-size: 2.8rem;
}

.title.h3 {
  font-size: 2.3rem;
}

.title.h4 {
  font-size: 1.9rem;
}

.title.h5 {
  font-size: 1.7rem;
}

.title.h6 {
  font-size: 1.6rem;
}

.content__input {
  all: unset;
  height: auto;
  font: inherit;
  padding: .6rem .3rem;
  color: var(--blog-dis);

}

.paragraph {
  display: inline-block;
  font-size: 1.5rem;
  width: 95%;

  /* resize: vertical; */

  overflow: hidden;
  line-height: 1.8;

}


.link {
  font-size: 1.4rem;
  text-decoration: underline;
  color: aqua;
  display: inline;
}

.strong {
  font-weight: bold;
  display: inline-block;
  font-size: 1.5rem;
  width: max-content;
  line-height: 1.8;
}

.em {
  font-style: italic;

}
.ins {
 text-decoration: underline;

}

[contenteditable] {

  outline: none;
  color: var(--blog-dis);
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}