.search-wrapper {
    width: 100%;

    position: relative;
    max-width: 40rem;

    display: flex;
    flex-direction: column;




}

.form-control--search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-dark-tertiary);
    position: relative;
    padding: 1.3rem 1.8rem;
    gap: 1.3rem;
    border-radius: .7rem;
    max-width: 60rem;
    margin-right: 1rem;



}

.form-control--search__row {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.form-control--search__active {
    z-index: 400;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid var(--border-color);


}

.form-control--search__icon {
    display: grid;
    place-items: center;
    color: #6b7280;
}

.form-control--search__remove {
    display: grid;
    place-items: center;
    transition: all .3s;
}

@media screen and (min-width:840px) {
    .search-wrapper {
  
        max-width: 45rem;
    }

}
@media screen and (min-width:960px) {
    .search-wrapper {
  
        max-width: 60rem;
    }

}

@media (prefers-color-scheme: light) {
    .form-control--search{
        background-color: #e5e7eb;
    }
}