.search-wrapper {


    position: relative;
    max-width: 60rem;


 


}

.form-control--search {

    display: flex;
    align-items: center;
    background-color: #374151;
    position: relative;
    padding: 1.5rem 1.3rem;
    gap: 1.3rem;
    border-radius: .7rem;
    width: 60rem;
    margin-right: 1rem;
z-index: 400;


}

.form-control--search__active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #64748b;
}

.form-control--search__icon {
    display: grid;
    place-items: center;
    color: #6b7280;
}