.comment-box {
    margin-top: 2rem;
    padding: 2.5rem 1.5rem;
    background-color: var(--bg-dark-secondry);
    ;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;

    transition: all .3s;
}



.comment-box--header {
    display: flex;

    flex-direction: column;
    border-bottom: 1px solid #334155;
    padding-bottom: 1.2rem;
}

.comment-profile--info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-bottom: 2.2rem;
}

.comment-prfile__fullName {
    font-family: "yekan", sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.comment-date {
    font-size: 1.4rem;


}

.comment-box--btns {
    display: flex;
    align-items: flex-start;
 
    gap: 1rem;
    justify-content: end;
}

.btn-reply {
    height: 2rem;
}

.btn-reply p {
    font-size: 1.3rem;
}

.comment--txt__txt {
    font: inherit;
    padding: 1.6rem 0.6rem;
    font-size: 1.5rem;
    line-height: 2;
    word-break: break-word;
    word-spacing: .11rem;
    color: #f9fafb;
    white-space: pre-wrap;
    overflow: hidden;
}

.replies-comment {
    position: relative;


}

.replies-wrapper {

    position: relative;

}

.reply-form--comment {
    margin-right: 1.5rem;
}

/* .comment-box::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 25px;
    top: -21px;
    width: 3px;
    background-color: #f9fafb;

} */
.author-profile--2{
    display: flex;

    flex-direction: row;
    gap: 2.5rem;
}
@media screen and (min-width:720px) {
    .comment-box{
        padding: 2.5rem 2.5rem;
    }
    .comment-box--header{
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;
    }
    
    .comment-prfile__fullName{
        font-size: 2.1rem;
    }
    .comment--txt__txt{
        padding: 3rem .6rem;
    }
    .comment-box--btns{
        justify-content: flex-start;
    }
}