.nav{
    width: 100%;
    padding:0.4rem 1rem;
;
}
.nav-item{

    display: flex;
    align-items: center;
    padding: 1.2rem 1.7rem;

    gap: 1.6rem;
    text-decoration: none;
    color: #ffffff;
    border-radius: 1.6rem;
    font-family: inherit;
    transition: all .3s;

}
.nav-item:hover{
    /*background-color:#102945 ;*/
    color: rgba(81,182,255,1);
}
.active{
    background-color:#102945 ;
    color: rgba(81,182,255,1);
}
.nav-item__txt{
font-family: inherit;
}