.nav{
    width: 100%;
    padding:0.4rem 1rem;
;
}
.nav-item{

    display: flex;
    align-items: center;
    padding: 1.2rem 1.7rem;

    gap: 1.6rem;
    text-decoration: none;
    color: var(--nav-item);
    border-radius: 1.6rem;
    font-family: inherit;
    transition: all .3s;
    font-size: 1.6rem;

}
.nav-item:hover{
    /*background-color:#102945 ;*/
    color: var(--nav-color-hover);
}
.nav-item.active{
    background-color:var(--nav-active) ;
    color: var(--nav-color-hover);
}
.nav-item__txt{
font-family: inherit;
}
