.main-container {
    width: 100%;
    padding: 2rem 3rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 39rem;
    gap: 3.5rem;
}

.blog-list--title {
    display: flex;
    align-items: center;
    gap: 2rem;

    margin-bottom: 3.5rem;
}

.blog-list--title__icon {
    display: grid;
    place-items: center;
    color: #6366f1;
}

.blog-list--title__txt {
    font-size: 3.5rem;
    font-family: "yekan", sans-serif;
}

.blog-aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
h1{
    color: #6366f1;
}