.main-container {
    width: 100%;
    padding: 2rem 1rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.5rem;
    overflow: hidden;
}

.blog-list {
    overflow: hidden;
}



.blog-aside {
    display: none;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    color: #6366f1;
}

.main-logo, .main-logo-sm {


    width: fit-content;
    height: 100%;
    object-fit: cover;

}
.main-logo-sm{
    grid-column: 1/3;
    align-self: center;
}
.main-logo {
    display: none;
}
@media screen and (min-width:750px) {
    .header--row {
        display: flex;
        align-items: center;
        gap: .7rem;
    }
    .main-logo {
        display: block;
    }

    .main-logo-sm {
        display: none;
    }
}

@media screen and (min-width:940px) {
    .main-container {


        grid-template-columns: 1fr 35rem;
        padding: 2rem 3rem;
    }

    .blog-aside {
        display: flex;

    }

   

   
}

@media screen and (min-width:1020px) {
    .main-container {


        grid-template-columns: 1fr 39rem;

    }

}