.header {
    width: 100%;
    background-color: var(--bg-dark-primary);
    padding: 2.6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: stretch;
    gap: 1.5rem;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-right__date {
    font-size: 1.4rem;
    color: var(--color-secondry-light);

}

.header-right__border {

    height: 2.4rem;
    border-left: 1px solid rgba(152, 163, 184, 0.3);
    ;
    display: flex;
    margin: 0 2rem;
}

.header-right__title {
    font-family: 'yekan', sans-serif;
    text-transform: lowercase;
    font-size: 2.2rem;
    color: #fff;
}