.account-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    overflow: hidden;
}

.form-control {

    display: flex;
    align-items: center;
    background-color: #374151;
    border: 1px solid #475569;
    padding: 1.2rem 2rem;
    gap: 1.3rem;
    border-radius: .5rem;

}

.col-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.col-grid--2 {
    display: flex;

    flex-direction: column;
    gap: 1.5rem;
}

.col-grid--3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.form-control__row {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.form-control--email {


    column-span: 2;
    align-items: center;
    justify-content: space-between;


}

.form-control__txt {
    font-size: 1.5rem;
    position: relative;
    white-space: nowrap;
    padding-left: 1.8rem;
    text-transform: capitalize;
    border-left: 2px solid rgb(209, 213, 219);

}

.form-control__input, .form-control__input--2, input {
    all: unset;
    width: 100%;
    font: inherit;
    color: #fff;
    box-sizing: border-box;

}

.form-control__txt-area {
    height: 10rem;
    line-height: 1.8;
    font-size: 1.3rem;
}

.form-control__row--2 {
    direction: ltr;
}

.form-control__row-txt {
    font-size: 1.5rem;
}

.form-control__input::placeholder {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.form-err {
    font-size: 1.1rem;
    color: #f65;
    margin: .5rem .8rem;
    display: none;
}

.active-input {
    display: block;
}

.btn-action {
    background-color: #4f46e5;
    transition: all .3s;
    margin-top: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-action:hover {
    background-color: #6366f1;
}

.account-subtitle__txt {
    font-family: 'yekan', sans-serif;
    margin-top: 2rem;
    font-size: 2.8rem;
}

.from-control__select {

    appearance: none;
    background-color: #334155;
    padding: 0 1.2rem;
}
@media screen and (min-width:750px){
    .col-grid {
       
        grid-template-columns: repeat(2, 1fr);
   
    }
    
    .col-grid--2 {

        display: grid;
        grid-template-columns: 1fr 40rem;
     
    }
    
    .col-grid--3 {
 
        grid-template-columns: 40rem 1fr;
      
    }
    .form-control__txt-area {
        font-size: 1.6rem;
    }
}
@media (prefers-color-scheme: light) {
    .form-control {
        background-color: #f8fafc;
        border-color: #e5e7eb;
    }

    .form-control__txt {
        color: #6b7280;
    }
    .form-control__input, .form-control__input--2, input{
        color: #374151;
    }
    .from-control__select{
        background-color: #f8fafc;
    }
    .form-control svg{
        color: #475569;
    }
    .btn-action{
        color: #fff;
    }
    .avatar-img{
        border-color: #6b7280;
    }
}