.auth-box {
    padding:3.2rem;
   
    border-radius: 1.2rem;
    width: 100%;
  
}

.auth {

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.auth-form {
 display: flex;
 flex-direction: column;
}
.auth-header{
    text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: .5rem;
}
.auth-title{
font-size: 1.9rem;
margin-top: 1.6rem;

color: var(--h3);
}
.auth-form__form{
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
}
.auth-control{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.auth-lbl{
    color: var(--blog-dis);
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
}
.inputField{
    border: 1px solid var(--border-color);
    padding: 1.1rem 1.2rem;
    border-radius: .7rem;
}
.new-auth__content{
display: flex;
align-items: center;
justify-content: center;
font-size: 1.7rem;
color: var(--blog-dis);
}
@media screen and (min-width:900px) {
    .auth-box {
      
        background-color: var(--bg-dark-primary);
        border-radius: 1.2rem;
        width: 45%;
        max-width: 47rem;
        border: 1px solid var(--border-color);
    }
}
