.cards{
    height: 100%;
    column-count: 3;
    column-rule: 1px solid var(--color-secondry-dark);
    padding: 1.5rem .7rem;
   
}

@media (prefers-color-scheme: light) {
    .cards{
        column-rule-color: #e5e7eb;
    }
}