@font-face {
  font-family: "yekan";
  src: url("./assets/fonts/Yekan.woff")
}

@font-face {
  font-family: "shabnam";
  src: url("./assets/fonts/Shabnam-FD.woff2")
}

:root {


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-dark-primary: #0e2338;
  --bg-light-primary: #f9fafb;
  --bg-dark-secondry: #162f48;

  --bg-dark-tertiary: #4b5563;
  --bg-dark-hover: #6b7280;
  --bg-light-secondry: #e2e8f0;
  --bg-light-thernery: #f1f5f9;
  --color-primary-dark: #1e293b;
  --color-primary-light: #f9fafb;

  --color-secondry-dark: #64748b;
  --color-secondry-light: #e2e8f0;

  --tw-shadow-colored: 0 10px 12px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  --tw-shadow-color: rgb(229 231 235 / 0.4);
  --tw-shadow: var(--tw-shadow-colored);
  --box-shadow:none;
    /* satrt */
    --bg-img: linear-gradient(to top, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, 0));
  --bg-color: rgb(14, 35, 56);
  --color-txt-blog: rgba(255, 255, 255, 0.87);
  --h3:#fff;
  --blog-dis:#d1d5db;
  --border-color:#4b5563;
  --category:rgba(245, 249, 255, .1);
  --date-txt:#9ca3af;
  --btn-comment:rgba(210, 221, 236, 1);
  --btn-save:rgba(63, 108, 175, 1);
  --bg-category:#1e293b


}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: background .2s linear;
}

html {
  font-size: 62.5%;

}

body {
  font-family: 'shabnam', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  direction: rtl;
  background-color: var(--bg-color);
  background-image: var(--bg-img);

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

[data-them="light"] {


  --bg-color: #f8f8f8;
  --color-txt-blog: #334155;
  --bg-dark-primary: #fff;
  --box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --h3:#475466;
  --blog-dis:#6b7280;
  --date-txt:#6b7280;
  --border-color:#e5e7eb;
  --category:rgba(237, 242, 250,.7);
  --btn-comment:rgb(156, 166, 180);
  --btn-save:#6366f1;
  --bg-category:#fff;
  --bg-dark-secondry:#f9fafb
}



@media (prefers-color-scheme: light) {
  body {
    background-color: #f8f8f8;

  }

}