@font-face {
  font-family: "yekan";
  src:url("./assets/fonts/Yekan Boom.woff2")
}
:root {


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-dark-primary: #0e2338;
  --bg-light-primary:#f9fafb;
  --bg-dark-secondry: #162f48;
  
  --bg-dark-tertiary:#4b5563;
  --bg-dark-hover:#6b7280;
  --bg-light-secondry:#e2e8f0;
  --bg-light-thernery:#f1f5f9;
  --color-primary-dark:#1e293b;
  --color-primary-light:#f9fafb;

  --color-secondry-dark:#64748b;
  --color-secondry-light:#e2e8f0;



}
*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  font-size: 62.5%;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  direction: rtl;
  background-color: var(--bg-dark-primary);
}
ul{
  list-style: none;
}





@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  } */

}
