.them-btn{
    all: unset;
    font: inherit;
    padding: .8rem 1rem;
    border-radius: .8rem;
    display: grid;
    place-items: center;
    background-color:var(--bg-dark-tertiary);
    transition: all .3s;
    cursor: pointer;
}
.them-btn:hover{
background-color: var(--bg-dark-hover);
}
.them__svg{
    width: 2.4rem;
    height: 2.4rem;
}
@media screen and (min-width:750px) {
    .them-btn{
        padding: 1.2rem 1.5rem;
    }
}

@media (prefers-color-scheme: light) {
    .them-btn{
        background-color: #94a3b8;
    }
    .them-btn:hover{
        background-color: #64748b;
    }
}