.slider {
    height: 50.3rem;
    padding: 0 0.8;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #000;
    overflow: hidden;
    position: relative;
}



.slider-img {
    flex-basis: 100%;
    height: 100%;
}

.slider-img__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-info {
    height: 27rem;
    display: flex;
    flex-direction: column;

    padding: 4rem 2.4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
}

.slider-info__title {
    font-family: "yekan", sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
    font-variation-settings: "wght"700;
    margin-bottom: 1.8rem;


}



.slider-info__dis {
    font-size: 1.8rem;
    color: #d1d5db;
    margin-bottom: 2.6rem;
    line-height: 1.8;
    display: none;
}

.slider-info--detail {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2.2rem;
    font-size: 1.3rem;
    position: relative;
    justify-content: flex-end;

}

.slider-info--detail::before {
    content: "";
    position: absolute;
    left: 20rem;
    height: 2.2rem;
    width: .8rem;
    background-color: #4f46e5;
    display: inline-block;
    border-radius: .3rem;

}

.slider-info__txt-auhor {

    position: relative;


}

.slider-info__date {
    position: relative;
    font-size: 1.2rem;
}

.slider-info__date::before {
    content: "";
    position: absolute;
    top: .1rem;
    right: -1.3rem;
    height: 1.5rem;
    width: .1rem;
    border-radius: .5rem;
    display: inline-block;
    background-color: #f3f4f6;

}

@media screen and (min-width:760px) {
    .slider-info__title {
        font-size: 3rem;
    }
}

@media screen and (min-width:900px) {
    .slider-info {
        height: 24rem;
    }
}

@media screen and (min-width:1136px) {
    .slider {
        height: 50.3rem;
        padding: 0;
  position: relative;
        flex-direction: row;
        overflow: hidden;
    }

    .slider::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        z-index: 1;
        pointer-events: none;
        left: 0;
        width: 70%;
        background: -webkit-gradient(linear, right top, left top, color-stop(0.35%, rgba(0, 0, 0, 0)), color-stop(53.68%, #000));
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0) .35%, #000 53.68%);
    }
    .slider::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        z-index: 1;
        pointer-events: none;
        left: 80%;
        width: 20vw;
        background: -webkit-gradient(linear,left top,right top,color-stop(0.35%,rgba(0,0,0,0)),color-stop(53.68%,#000));
        background: linear-gradient(90deg,rgba(0,0,0,0) .35%,#000 53.68%);
    }

    .slider-img {
        flex-basis: 57%;
        height: 100%;

    }

    .slider-info__title {
        font-size: 4rem;
    }

    .slider-info {
        height: auto;
        position: static;
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
z-index: 2;
        padding: 4rem 2.4rem;
    }

    .slider-info__dis {
        display: -webkit-box;
        overflow: hidden;
        line-clamp: 2;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        ;
    }

    .slider-info--detail {
        justify-content: unset;

    }

    .slider-info--detail::before {

        right: 0;
        left: unset;

    }
}