.blog-card {
    margin-bottom: 2rem;

    padding: 2.8rem 2rem;
    background-color: var(--bg-dark-primary);
    border-radius: 1.2rem;


    width: fit-content;
    min-width: 90rem;


}


@media (prefers-color-scheme: light) {
    .blog-card {
        background-color: #fff;

        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
     
    }

}